<!DOCTYPE html>
<html>
<head>
  <title>DS Beadery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%=render 'partials/home/header' %>

<div id="main-container" class="container" style="max-width:1024px; padding: 5px 0;">
	<div class="row">
  	<%= yield %>
  </div>
</div>

<%=render 'partials/home/footer' %>
</body>
</html>
